.banner{

    &.banner-home{
        padding: 10rem 2.4rem;

        background-image: url('/images/home/mobile/image-hero-coffeepress.jpg');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;

        border-radius: 10px;
        overflow: hidden;

        h1{
            text-align: center;
        }

        p{
            text-align: center;
            color: var(--white);
            font-weight: 300;
            margin: 2.4rem 0 3.9rem;
        }

        .banner-button{
            display: flex;
            justify-content: center;
        }
    }
}